<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Here</title>
</head>
<body>
    <h3 class="text-center fst-italic">this is a student sign up</h3>
    <form action="/student/signup" method="post" class="w-50 container border border-shadow shadow-lg">
        <input class="form-control my-3" type="text" placeholder="Enter firstname" name="firstname">
        <input class="form-control my-3" type="text" placeholder="Enter lastname" name="lastname">
        <input class="form-control my-3" type="text" placeholder="Enter password" name="password">
        <input class="form-control my-3" type="text" placeholder="Enter email" name="email">
        <button class="btn btn-info w-100" type="submit">Submit</button>
    </form>
</body>
</html>